@import "https://fonts.googleapis.com/css2?family=Martian+Mono:wght@600&display=swap";

* {
    overflow-x: hidden;
    font-family: "Martian Mono", monospace;
}

:focus {
    outline: none;
}

body {
    width: 350px;
    background-color: #363636;
}