@import "https://fonts.googleapis.com/css2?family=Martian+Mono:wght@600&display=swap";

* {
    color: #FFFFFF;
    font-family: "Martian Mono", monospace;
    text-align: center;
}

:focus {
    outline: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 450px;
    height: 100vh;
    background-color: #363636;
    overflow: hidden;
}

h1 {
    font-size: 25px;
}

.error {
    border-color: red;
}

.error:focus {
    border-color: red;
}

.mantine-rwipcq {
    font-family: "Martian Mono" monospace;
    text-align: center;
    font-size: 25px;
}

.mantine-1v7s5f8:has(input:disabled) {
    cursor: not-allowed;
}

.mantine-1un7m44 {
    background-color: blue;
}

.mantine-1un7m44:hover {
    background-color: blue;
}

.mantine-1un7m44:last-child {
    background-color: red;
}

.mantine-1un7m44:last-child:hover {
    background-color: red;
}

.mantine-1v7s5f8 {
    margin-bottom: 20px;
}