@import "https://fonts.googleapis.com/css2?family=Martian+Mono:wght@600&display=swap";

* {
    color: white !important;
    font-family: "Martian Mono", monospace !important;
    text-align: center !important;
}

:focus {
    outline: none;
}

body {
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 275px;
    height: 100vh;
    background-color: #363636;
    overflow: hidden;
}

#disable {
    height: 60px;
    font-size: 50px;
    background-color: orange;
}

.disabled :not(#enable) :not(.mantine-Button-inner) :not(.mantine-Button-label) {
    filter: blur(5);
}

.disabled {
    pointer-events: none;
}

#enable {
    height: 60px;
    font-size: 50px;
    background-color: orange;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    pointer-events: all;
    box-shadow: 5px 5px 5px #000000;
    display: none;
}

#__plasmo {
    position: relative;
}

#status {
    font-size: 25px;
    display: none;
}

.error {
    border-color: red;
}

.error:focus {
    border-color: red;
}

.mantine-rwipcq {
    font-size: 25px;
}

.mantine-1v7s5f8:has(input:disabled) {
    cursor: not-allowed;
}

#buttons > :nth-child(1) {
    background-color: blue;
}

#buttons > :nth-child(4) {
    background-color: red;
}

#buttons > :nth-child(7) {
    background-color: blueviolet;
}

.mantine-1v7s5f8 {
    margin-bottom: 20px;
}

.mantine-1pn6kd {
    padding-left: 10px;
}

.mantine-111xx5d {
    min-width: 3rem;
}