@import "https://fonts.googleapis.com/css2?family=Martian+Mono:wght@600&display=swap";

* {
    overflow-x: hidden;
    font-family: "Martian Mono", monospace !important;
    color: white !important;
}

:focus {
    outline: none;
}

body {
    width: 350px;
    background-color: #363636;
}

div {
    text-align: center;
}

h1 {
    font-size: 20px;
    margin-top: -5px;
}

.inline {
    display: inline-flex;
}

img {
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.right {
    margin-right: 20px;
}

.left {
    margin-left: 20px;
}

.icon {
    margin-top: -15px;
}

.mantine-h1d42f {
    background-color: black;
    font-size: 30px;
}

::selection {
    background-color: orange;
    color: #363636;
}

::-moz-selection {
    background-color: orange;
    color: #363636;
}

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background: #363636;
}

::-webkit-scrollbar-thumb {
    background: #505050;
    border: 5px solid;
    border-color: #363636;
    border-radius: 10px;
}